<template>
    <div class="bonoList">
        <SidebarAC/>
        <div class="content">
            <v-col cols="auto">
                <h1 class="h1">Lista de Bonos de mi club</h1>
                <div class="float-right">
                    <v-btn :to="{ name: 'BonoCreate'}" color="green darken-1" rounded>
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </div>
            </v-col>
            <v-row>
                <v-col cols="auto" class="col" v-for="bono in bonos" :key="bono.id">
                    <div v-if="bono.idUser == null">
                        <BonoCard :bono="bono"></BonoCard>
                    </div>
                </v-col>
            </v-row>
        </div>
    </div>
</template>

<script>
    import BonoRepository from "@/repositories/BonoRepository";
    import UsuarioRepositoryRepository from "@/repositories/UsuarioRepository";
    import ClubRepository from "@/repositories/ClubRepository";
    import BonoCard from "./BonoCard.vue";
    import SidebarAC from "../../components/SidebarAC.vue";
    import store from "@/common/store";

    export default {
        data() {
            return {
                bonos: [],
                user: store.state.user,
                usuario: {},
                club: {},
            };
        },
        components: { BonoCard, SidebarAC },
        mounted() {
            this.fetchData();
        },
        methods: {
            async fetchData() {
                this.usuario = await UsuarioRepositoryRepository.findByLogin(this.user.login);
                this.club = await ClubRepository.findByAdmin(this.usuario.id);
                this.bonos = await BonoRepository.findAllByClub(this.club.id);
            },
        },
    }

</script>

<style scoped>

    .bonoList{
        display: grid;
        grid-template-columns: 1fr 5fr;
        background-color: rgb(101, 150, 206);
        height: auto;
        min-height: 100vh;
        width: 100vw;
    }

    .content{
        background-color: white;
        border-radius: 20px;
        margin: 0px 6px 6px 0px;
    }

    .float-right{
        margin-right: 25px;
    }
    .h1{
        text-align: center;
    }

    .col{
        margin-top: 15px;
        margin-bottom: 5px;
    }
</style>