<template>
    <v-card class="card rounded-card" outlined width="250px" min-height="250px">
        <v-row>
            <v-col>
                <v-card-title>
                    {{  bono.nombre }}
                </v-card-title>

                <v-card-subtitle>
                    <div>Descripcion: {{ bono.descripcion }}</div>
                    <div>Precio: {{ bono.precio }}</div>
                    <div>Numero de clases: {{ bono.num_clases }}</div>
                </v-card-subtitle>

                <v-card-actions class="btn">
                    <v-btn color="primary" :to="{ name: 'BonoUpdate', params: { id: bono.id } }">Editar</v-btn>
                    <v-btn color="red" @click="remove()">eliminar</v-btn>
                </v-card-actions>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import store from "@/common/store";
    import BonoRepository from "@/repositories/BonoRepository";

    export default {
        data() {
            return {
                user: store.state.user,
            };
        },
        name: "BonoCard",
        props: {
            bono: {
                type: Object,
                required: true,
            },
        },
        methods: {
            async remove() {
                await BonoRepository.delete(this.bono.id);
                this.$router.replace({ name: "BonoList" });
                location.reload();
            },
        }
    }
</script>

<style scoped>
    .rounded-card{
        border-radius: 25px;
    }
    .link{
        color: black;
        text-decoration: none;
    }
    .btn{
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 10px;
        margin-right: 10px;
    }
</style>