<template>
    <div class="sidebar">
        <SidebarAC/>
        <div class="content">
            <v-layout class="text-center" justify-center align-center>
                <v-form ref="form" @submit.prevent="save">
                    <v-card class="card" min-width="100px" width="500px" align-center justify-center>
                        <v-card-title>
                            <v-col>
                                <div v-if="bono.id">Editando bono: {{ this.bono.nombre }}</div>
                                <div v-else> Creando bono</div>
                                <v-text-field v-model="bono.nombre" label="Nombre" :rules="requiredField" maxlength="50"></v-text-field>
                                <v-textarea v-model="bono.descripcion" label="Descripcion" :rules="requiredField" maxlength="100" rows="2"></v-textarea>
                                <v-text-field v-model="bono.precio" label="Precio" :rules="requiredField" maxlength="4"></v-text-field>
                                <v-text-field v-model="bono.num_clases" label="Numero de clases" :rules="requiredField" maxlength="2"></v-text-field>
                                <v-text-field v-model="club.nombre" label="Club" readonly></v-text-field>
                            </v-col>
                        </v-card-title>

                        <v-card-actions>
                            <v-spacer />
                            <v-btn @click="back()">Back</v-btn>
                            <v-btn color="blue" type="submit">Submit</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
            </v-layout>
        </div>
    </div>
</template>

<script>
    import store from "@/common/store";
    import BonoRepository from "@/repositories/BonoRepository";
    import ClubRepository from "@/repositories/ClubRepository";
    import UsuarioRepository from "@/repositories/UsuarioRepository";
    import SidebarAC from "../../components/SidebarAC.vue";


    export default {
    data() {
        return {
            bono: {},
            club: {},
            user: {},
            usuario: store.state.user,
            requiredField: [(v) => !!v || "Field is required"],
        };
    },
    async created() {
        this.user = await UsuarioRepository.findByLogin(this.usuario.login)
        this.club = await ClubRepository.findByAdmin(this.user.id);

        if (this.$route.params.id) {
            this.bono = await BonoRepository.findOne(this.$route.params.id);
        }
        else {
            this.bono = {};
            this.bono.idClub = this.club.id;
        }
    },
    methods: {
        async save() {
            if (!this.$refs.form.validate()) {
                return;
            }
            try {
                await BonoRepository.save(this.bono);
                this.$router.replace({
                    name: "BonoList",
                });
            }
            catch (err) {
                this.$notify({
                    text: err.response.data.message,
                    type: "error",
                });
            }
        },
        back() {
            this.$router.go(-1);
        },
    },
    components: { SidebarAC }
}
</script>

<style scoped>
    .sidebar{
        display: grid;
        grid-template-columns: 1fr 5fr;
        background-color: rgb(101, 150, 206);
        height: auto;
        min-height: 92vh;
        width: 100vw;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .content{
        position: absolute;
        background-color: white;
        border-radius: 20px;
        margin: 0 6px 6px 16.85%;
        width: 90%;
        height: 100%;
    }
    .card{
        margin-top: 50px;
        margin-right: 150px;
    }
</style>