<template>
    <div class="sidebar">
        <SidebarAC/>
        <div class="content">
            <v-layout class="text-center" justify-center align-center>
                <v-form ref="form" @submit.prevent="save" enctype="multipart/form-data">
                    <v-card class="card" min-width="100px" width="500px" align-center justify-center>
                        <v-card-title>
                            <v-col>
                                <div>Editando mi club: {{ this.club.nombre }}</div>
                                <v-text-field v-model="club.nombre" label="Nombre del club" :rules="requiredField" maxlength="50"></v-text-field>
                                <v-text-field v-model="club.direccion" label="Direccion" :rules="requiredField" maxlength="100"></v-text-field>
                                <v-textarea v-model="club.descripcion" label="Descripcion" :rules="requiredField" rows="2" maxlength="150"></v-textarea>
                                <v-row>
                                    <v-text-field v-model="club.telefono" label="Telefono" :rules="requiredField" maxlength="10" type="phone"></v-text-field>
                                    <v-text-field v-model="club.siglas" label="Siglas" :rules="requiredField" maxlength="10"></v-text-field>
                                </v-row>
                                <div>
                                    <label for="imagenArchivo">Imagen:</label>
                                    <input type="file" id="imagenArchivo" @change="onFileChange" accept="image/*" ref="imagenInput" required>
                                </div>
                            </v-col>
                        </v-card-title>

                        <v-card-actions>
                            <v-spacer />
                            <v-btn @click="back()">Back</v-btn>
                            <v-btn color="blue" type="submit">Submit</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
            </v-layout>
        </div>
    </div>
</template>

<script>
    import store from "@/common/store";
    import auth from "@/common/auth";
    import ClubRepository from "@/repositories/ClubRepository";
    import axios from "axios";
    import SidebarAC from "../../components/SidebarAC.vue";


    export default {
    data() {
        return {
            club: {},
            usuario: store.state.user,
            requiredField: [(v) => !!v || "Field is required"],
        };
    },
    async created() {
        if (this.$route.params.id) {
            this.club = await ClubRepository.findOne(this.$route.params.id);
        }
        else {
            this.club = {};
        }
    },
    methods: {
        async save() {
                if (!this.$refs.form.validate()) {
                    return;
                }
                try {
                    if (this.usuario.authority === 'ADMIN_CLUB'){
                        this.cargarImagen();
                    } 
                    else{
                        this.club.num_pistas = 0;
                        this.club.adminClub = null;
                        this.club.imagen = null;
                    }
                        
                    const savedClub = await ClubRepository.save(this.club);
                    this.$router.push(`/club-admin/${savedClub.id}`);
                    
                } catch (err) {
                    this.$notify({
                        text: err.response.data.message,
                        type: "error",
                    });
                }
            },
        onFileChange(event) {
            console.log(event)
            const fileInput = this.$refs.imagenInput;
            const file = fileInput.files[0];
            this.club.imagen = file;
            console.log(this.club.imagen); 
        },
        back() {
            this.$router.go(-1);
        },
        cargarImagen() {
            const formData = new FormData();
                
                formData.append("id", this.club.id);
                formData.append("nombre", this.club.nombre);
                formData.append("descripcion", this.club.descripcion);
                formData.append("direccion", this.club.direccion);
                formData.append("telefono", this.club.telefono);
                formData.append("siglas", this.club.siglas);
                formData.append("num_pistas", this.club.num_pistas);
                formData.append("adminClub", this.club.adminClub);
                formData.append("imagenArchivo", this.club.imagen);

                const token = auth.getToken();

                axios
                    .put("http://localhost:8080/api/clubes/cargar-imagen", formData,{
                        headers: {
                            'Authorization': 'Bearer ' + token , // Añadir el token en la cabecera
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then(response => {
                        console.log(response.data);
                    })
                    .catch(error => {
                        console.error(error);
                    });
        },
    },
    components: { SidebarAC }
}
</script>

<style scoped>
    .sidebar{
        display: grid;
        grid-template-columns: 1fr 5fr;
        background-color: rgb(101, 150, 206);
        height: auto;
        min-height: 92vh;
        width: 100vw;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .content{
        position: absolute;
        background-color: white;
        border-radius: 20px;
        margin: 0 6px 6px 16.85%;
        width: 90%;
        height: 100%;
    }
    .card{
        margin-top: 50px;
        margin-right: 150px;
    }
</style>