<template>
    <div class="sidebar">
        <SidebarAC/>
        <div class="content">
            <v-row justify="center">
                <v-col cols="auto" v-if="club">
                    <v-card min-width= "500px" class="card" align-self="center">
                        <v-img class="img" :src="getImageSrc(club)"></v-img>
                        <v-card-title>
                            {{ club.nombre }}
                            <v-spacer />
                            <v-btn color="primary" :to="{ name: 'ClubUpdateAC', params: { id: club.id } }">
                                Editar
                            </v-btn>
                        </v-card-title>
                        <v-card-subtitle>
                            {{ club.direccion }}
                            <div> {{ club.descripcion }} </div>
                            <div> Numero de pistas: {{ club.num_pistas }} </div>
                            <div>Siglas: {{ club.siglas }}</div>
                        </v-card-subtitle>

                        <h4 class="h4" v-if="pistas.length">
                        Mis pistas: 
                        </h4>

                        <v-col v-for="pista in pistas" :key="pista.id">
                            <PistaCard :pista="pista"></PistaCard>
                        </v-col>
                    </v-card>
                </v-col>
            </v-row>
        </div>
    </div>
</template>

<script>
    import ClubRepository from "@/repositories/ClubRepository";
    import PistaRepository from "@/repositories/PistaRepository";
    import store from "@/common/store";
    import PistaCard from "../pista/PistaCard.vue";
    import SidebarAC from "@/components/SidebarAC";

    export default {
        data() {
            return {
                user: store.state.user,
                club: null,
                pistas: [],
            };
        },
        components: { PistaCard, SidebarAC },
        async mounted() {
            //this.fetchData();
            this.pistas = await PistaRepository.findAllByClub(this.$route.params.id);
            try {
                this.club = await ClubRepository.findOne(this.$route.params.id);
            } catch (e) {
                this.$notify({
                text: e.response.data.message,
                type: "error",
                });
                setTimeout(() => this.back(), 2000);
            } finally {
                this.loading = false;
            }
               
        },
        methods: {
            async remove() {
                await ClubRepository.delete(this.club.id);
                this.$router.replace({ name: "ClubList" });
            },
            back() {
                this.$router.go(-1);
            },
            getImageSrc(club) {
                if (club.imagenPath) {
                    return `http://localhost:8080/api/clubes/${this.club.id}/imagen`;
                }
                return "/placeholder.png";
            },
        }
    }

</script>

<style scoped>
    .sidebar{
        display: grid;
        grid-template-columns: 1fr 5fr;
        background-color: rgb(101, 150, 206);
        height: auto;
        min-height: 150vh;
        width: 100vw;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .content{
        position: absolute;
        background-color: white;
        border-radius: 20px;
        margin: 0 6px 6px 16.85%;
        width: 90%;
        height: 100%;
    }
    .card{
        margin-top: 20px;
        margin-right: 70px;
        width: 750px;
    }

    .h4{
        margin-left: 20px;
    }

    .btn-add{
        margin-left: 50px;
    }

    .img{
        height: 250px;
    }

</style>