<template>
    <div class="cList">
        <Sidebar/>
        <div class="content">
            <v-col cols="auto">
                <div class="float-right">
                    <v-btn :to="{ name: 'ClubCreate'}" color="green darken-1" rounded>
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </div>
            </v-col>
            <v-row>
                <v-col cols="auto" class="col" v-for="club in clubes" :key="club.id">
                    <ClubCard :club="club"></ClubCard>
                </v-col>
            </v-row>
        </div>
    </div>
</template>

<script>
    import ClubRepository from "@/repositories/ClubRepository"
    import ClubCard from "./ClubCard.vue";
    import Sidebar from "@/components/Sidebar";

    export default {
        data() {
            return {
                clubes: []
            };
        },
        components: { ClubCard, Sidebar },
        mounted() {
            this.fetchData();
        },
        methods: {
            async fetchData() {
                this.clubes = await ClubRepository.findAll();
            },
        },
    }

</script>

<style scoped>

    .cList{
        display: grid;
        grid-template-columns: 1fr 5fr;
        background-color: rgb(101, 150, 206);
        height: auto;
        min-height: 100vh;
        width: 100vw;
    }

    .content{
        background-color: white;
        border-radius: 20px;
        margin: 0px 6px 6px 0px;
    }

    .col{
        margin-top: 15px;
        margin-bottom: 5px;
    }
</style>