<template>
    <router-link v-if="user.authority==='ADMIN_WEB'" :to="{ name: 'ClubDetail', params: { id: club.id } }" custom>
        <v-card class="card rounded-card" outlined width="250px" min-height="250px">
            <v-row>
                <v-col>
                    <v-img class="img blue--text align-end" :src="getImageSrc(club)" max-height="150" max-width="250"></v-img>
                    <v-card-title>
                        {{ club.nombre }}
                    </v-card-title>
                    <v-card-subtitle>
                        {{ club.direccion }}
                        <div>{{ club.descripcion }}</div>
                        <div>Gestionado por: {{ club.adminClub }}</div>
                        Numero de pistas: {{ club.num_pistas }}
                    </v-card-subtitle>
                </v-col>
            </v-row>
        </v-card>
    </router-link>
    <router-link v-else :to="{ name: 'ClubDetailAC', params: { id: club.id } }" custom>
        <v-card class="card rounded-card" outlined width="250px" min-height="250px">
            <v-row>
                <v-col>
                    <v-img class="img blue--text align-end" :src="getImageSrc(club)" max-height="150" max-width="250"></v-img>
                    <v-card-title>
                        {{ club.nombre }}
                    </v-card-title>
                    <v-card-subtitle>
                        {{ club.direccion }}
                        <div>{{ club.descripcion }}</div>
                        <div>Gestionado por: {{ club.adminClub }}</div>
                        Numero de pistas: {{ club.num_pistas }}
                    </v-card-subtitle>
                </v-col>
            </v-row>
        </v-card>
    </router-link>
</template>

<script>
    import store from "@/common/store";

    export default {
        data() {
            return {
                user: store.state.user,
            };
        },
        name: "ClubCard",
        props: {
            club: {
                type: Object,
                required: true,
            },
        },
        methods: {
            getImageSrc(club) {
                if (club.imagenPath) {
                    return `http://localhost:8080/api/clubes/${this.club.id}/imagen`;
                }
                return "/placeholder.png";
            },
        },
    }
</script>

<style scoped>

    .rounded-card{
        border-radius: 25px;
    }
    .img{
        border-radius: 25px 25px 0 0;
    }

</style>