<template>
  <v-card class="rounded-card" outlined color="green accent-1">
    <v-row class="mx-4" align="center">
      <v-img class="blue--text align-end" :src="getImageSrc(prod)" max-height="60" max-width="85"></v-img>
      <v-col>
        <v-card-title>
          <router-link :to="{ name: 'ProductoDetail', params: { id: prod.id } }" v-slot="{ navigate }" custom>
            <span @click="navigate" class="pointer">{{ prod.titulo }}</span>
          </router-link>
          <v-spacer />
          <div v-if="prod && prod.vendedor">
            <router-link v-if="prod.vendedor != user.login" :to="{name: 'UsuarioDetail', params: {login: prod.vendedor}}" v-slot="{ navigate }" custom>
              <span @click="navigate" class="pointer">Vendido por  {{prod.vendedor }}</span>
            </router-link>
            <router-link v-if="prod.vendedor === user.login && prod.comprador === null" :to="{name: 'UsuarioDetailPerfil', params: {login: prod.vendedor}}" v-slot="{ navigate }" custom>
              <span @click="navigate" class="pointer">Vendido por {{ prod.vendedor}}</span>
            </router-link>

            <router-link v-if="prod.vendedor === user.login && prod.comprador != null" :to="{name: 'UsuarioDetail', params: {login: prod.comprador}}" v-slot="{ navigate }" custom>
              <span @click="navigate" class="pointer">Comprado por {{prod.comprador}}</span>
            </router-link>

          </div>
          <div v-if="prod && prod.vendedor === null">
              Usuario no disponible
          </div>
        </v-card-title>
        <v-card-subtitle> {{ prod.descripcion}}<br> Puesto en venta: {{ DateAsString(prod.fechaPuestaVenta) }} </v-card-subtitle>
        <v-card-text v-if="prod.valoracion===0">
          Valoracion: <span> Aun no se ha valorado este producto </span>
        </v-card-text>
        <v-card-text v-else>
          Valoracion: <span> {{prod.valoracion}} </span>
        </v-card-text>
        <v-card-text v-if="prod.tema != null">
          Tema: <span class="tema">{{ temaAsString(prod.tema) }}</span> 
          <v-spacer /> 
          <span class="font-weight-black" style="font-size:1.5em">{{prod.precio}}€</span>
        </v-card-text>
        <v-card-text v-else class="font-weight-black" style="font-size:1.5em"> {{prod.precio}}€ </v-card-text>
        <v-card-actions v-if="prod.comprador === user.login">
          <v-spacer />
          <v-btn v-if="!prod.valoracion>0 && prod.vendedor != null" :to=" {name : 'ProductoValorarForm', params: {id: prod.id}}">Valorar</v-btn>
        </v-card-actions>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import moment from "moment";
import store from "@/common/store";

export default {
  data() {
      return {
        user: store.state.user,
      };
  },
  name: "ProductoCard",
  props: {
    prod: {
      type: Object,
      required: true,
    },
  },
  methods: {
    DateAsString(date) {
      return moment(date).format("DD/MM/YYYY, hh:mm a");
    },
    temaAsString(tema) {
      return tema.name;
    },
    getImageSrc(prod) {
      if (prod.hasImage) {
        return `http://localhost:8080/api/productos/${this.prod.id}/image`;
      }
      return "/placeholder.png";
    },
  },
};
</script>

<style scoped>
.tema {
  font-style: italic;
}
.rounded-card{
  border-radius: 25px;
}
</style>