<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <div class="d-inline-block">
          <h1>Lista De Productos A La Venta</h1>
          <div class="caption">Data fetched <span class="font-weight-bold">after</span> navigation</div>
        </div>
        <div class="float-right">
          <v-text-field v-model="query" label="Buscar producto" class="d-inline-block" @input="updateData()"></v-text-field>
          <v-btn :to="{ name: 'ProductoCreate'}" color="green darken-1" rounded>
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </div>
      </v-col>
      <v-col cols="12" sm="12" lg="12" v-for="prod in filteredList" :key="prod.id">
        <span v-for="user in users" :key="user.id">
          <span v-if="prod.prodOculto==false && prod.comprador === null && prod.vendedor === user.login && user.perfilOculto == false">
            <ProductoCard :prod="prod"></ProductoCard>
          </span>
          <span v-else></span>
        </span>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ProductoCard from "./ProductoCard.vue";
import ProductoRepository from "@/repositories/ProductoRepository";
import UsuarioRepository from "@/repositories/UsuarioRepository";
import store from "@/common/store";

let delay = null;
const sortOptions = [
  { label: "Mas reciente", value: "MOST_RECENT" },
  { label: "Mas antiguo", value: "LESS_RECENT" },
  { label: "Mas caro primero", value: "EXPENSIvE_FIRST" },
];

export default {
  data() {
    return {
      users: [],
      prods: [],
      query: "",
      user: store.state.user,
      usuario: {},
      sort: sortOptions[0].value,
      sortOptions,
      filterProds: [],
    };
  },
  components: { ProductoCard },
  mounted() {
    this.fetchData();
  },
  computed: {
    filteredList() {
      return this.prods.filter(p => {
            return p.titulo.includes(this.query);})
    }
  },
  methods: {
    updateData() {
      clearTimeout(delay);
      delay = setTimeout(this.fetchData, 500);
    },
    async fetchData() {
      this.prods = await ProductoRepository.findAll(this.query, this.sort);
      this.users = await UsuarioRepository.findAll();
      this.usuario = await UsuarioRepository.findByLogin(this.user.login);
    },
  },
};
</script>

<style scoped>
.select {
  width: 150px;
}
</style>
