<template>
  <v-container>
    <v-row>
      <v-col cols="12" v-if="loading" class="loading">Loading...</v-col>
      <v-col cols="6" offset="2" v-if="prod">
        <v-card color="green accent-1">
          <v-card-title>
            <span>{{ prod.titulo }}</span>
            <v-spacer />
            <router-link v-if="prod.vendedor != user.login" :to="{name: 'UsuarioDetail', params: {login: prod.vendedor}}" v-slot="{ navigate }" custom>
              <span @click="navigate" class="pointer">Vendido por {{prod.vendedor}}</span>
            </router-link>
            <router-link v-if="prod.vendedor === user.login && prod.comprador === null" :to="{name: 'UsuarioDetailPerfil', params: {login: prod.vendedor}}" v-slot="{ navigate }" custom>
              <span @click="navigate" class="pointer">Vendido por {{prod.vendedor}}</span>
            </router-link>
            <router-link v-if="prod.vendedor === user.login && prod.comprador != null" :to="{name: 'UsuarioDetail', params: {login: prod.comprador}}" v-slot="{ navigate }" custom>
              <span @click="navigate" class="pointer">Comprado por {{prod.comprador}}</span>
            </router-link>
            
            <span v-if="this.user.login != this.prod.vendedor && isLogged">  
              
              <v-btn icon v-if="!isLiked" @click="setLike()">
                <v-icon color="grey">mdi-heart</v-icon>
              </v-btn>

              <v-btn icon v-else @click="setDislike()">
                <v-icon color="red">mdi-heart</v-icon>
              </v-btn>
            </span>

          </v-card-title>
          <v-card-subtitle> En venta desde: {{ DateAsString(prod.fechaPuestaVenta) }} </v-card-subtitle>
          <v-card-text>
            <div class="my-4" v-if="prod.tema!==null">
              Tema: <span class="tema">{{prod.tema.name}}</span>
            </div>
            <v-divider />
            <div class="producto my-4">
              {{prod.descripcion}}
            </div>
            <v-divider />
            <v-col>
              <v-img class="my-4" :src="imageSrc" max-width="150" max-height="125"></v-img>
              <v-spacer />
              <span class="font-weight-black" style="font-size:1.5em"> Precio: {{prod.precio}}€ </span>
            </v-col>
          </v-card-text>

          <v-card-actions>
            <v-spacer />
            <v-btn v-if="prod.vendedor == user.login" :to="{ name: 'ProductoUpdate', params: { id: prod.id } }" color="primary"> Edit </v-btn>
            <v-btn color="warning" v-if="prod.vendedor === user.login && prod.prodOculto===false" @click="ocultar(prod.prodOculto)">Ocultar</v-btn>
            <v-btn color="warning" v-if="prod.vendedor === user.login && prod.prodOculto===true" @click="ocultar(prod.prodOculto)">Desocultar</v-btn>
            <v-btn color="red" @click="remove()" v-if="user.authority === 'ADMIN'">Remove</v-btn>
            <v-btn color="warning" v-if="prod.vendedor!==user.login" :to="{name: 'MensajeList', params: {login: prod.vendedor}}">Mensaje</v-btn>
            <v-dialog class="dialog" v-model="dialog" width="360">
              <template v-slot:activator="{ on, attrs }">
                <v-btn 
                  @click="addComprador()" 
                  class="dialog" 
                  color="green" 
                  dark 
                  v-bind="attrs" 
                  v-on="on" 
                  v-if="prod.vendedor!==user.login && prod.comprador === null && isLogged"
                >
                  Comprar
                </v-btn>
              </template>
        
              <v-card>
                <v-card-title class="text-h5 grey lighten-2">
                  Se ha completado la compra
                  correctamente. 
                </v-card-title>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-btn color="green" text @click="dialog = false">
                    Aceptar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-btn class="dialog" @click="back()"> Atras </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ProductoRepository from "@/repositories/ProductoRepository";
import UsuarioRepository from "@/repositories/UsuarioRepository";
import store from "@/common/store";
import moment from "moment";

export default {
  data() {
      return {
        dialog: false,
        user: store.state.user,
        loading: false,
        prod: null,
        prods: [],
        usuario: null,
        liked: false,
      };
  },
  async mounted() {
      this.loading = true;
      this.fetchData();
      try {
          this.prod = await ProductoRepository.findOne(this.$route.params.id);
      } catch (e) {
          this.$notify({
          text: e.response.data.message,
          type: "error",
          });
          setTimeout(() => this.back(), 2000);
      } finally {
          this.loading = false;
      }
  },
  computed: {
    temasAsString() {
        return this.prod.tema.name;
    },
    imageSrc() {
        if (this.prod.hasImage) {
          return `http://localhost:8080/api/productos/${this.prod.id}/image`;
        }
        return "/placeholder.png";
    },
    isLogged() {
      return this.user.logged;
    },
    isLiked(){
      this.checkLike(this.prod.megusta);
      return this.liked;
    },
  },
  methods: {
    checkLike(arr){
      if(arr.find(e => e==this.user.login))
        this.liked = true;
    },
    
    DateAsString(date) {
      return moment(date).format("DD/MM/YYYY, hh:mm a");
    },
    async addComprador(){
      this.prod.comprador = this.user.login;
      this.prod.fechaCompra = moment();
      await ProductoRepository.save(this.prod);
    },
    async save() {
      if (!this.$refs.form.validate()) {
        return;
      }
      try {
        const savedProducto = await ProductoRepository.save(this.prod);
        if (this.$refs.hiddenUploader.files[0]) {
          await ProductoRepository.saveImage(savedProducto.id, this.$refs.hiddenUploader.files[0]);
        }
        this.$router.replace({
          name: "ProductoDetail",
          params: { id: savedProducto.id },
        });
      } catch (err) {
        this.$notify({
          text: err.response.data.message,
          type: "error",
        });
      }
    },
    async ocultar(oculto){
      this.prod.prodOculto=!oculto;
      await ProductoRepository.save(this.prod);
    },
    async remove() {
      await ProductoRepository.delete(this.prod.id);
      this.$router.replace({ name: "ProductoList" });
    },
    back() {
        this.$router.go(-1);
    },
    async fetchData() {
      if (this.user.logged){
        this.usuario = await UsuarioRepository.findByLogin(this.user.login);
        this.prods = await UsuarioRepository.findAllMeGusta(this.usuario.id);
      }
    },
    async setLike(){
      this.liked = true;
      this.prod.megusta.push(this.user.login);
      await ProductoRepository.save(this.prod);
    },
    async setDislike(){
      this.liked = false;
      for( var i = 0; i < this.prod.megusta.length; i++){ 
        if (this.prod.megusta[i] === this.user.login) { 
          this.prod.megusta.splice(i, 1); 
        }
    }
      await ProductoRepository.save(this.prod);
    }
  },
};
</script>

<style scoped>
.tema {
  font-style: italic;
}
.post {
  padding: 30px 50px;
  color: rgba(0, 0, 0, 0.87);
  font-size: larger;
}

.dialog{
  margin-left: 10px;
}

.error {
  margin-top: 40px;
}

</style>