<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="text-center">
        <h1 v-if="tema">Productos con el tema {{tema.name}}</h1>
        <div class="caption">Data fetched <span class="font-weight-bold">after</span> navigation</div>
      </v-col>
      <v-col cols="12" sm="12" lg="12" v-for="prod in prods" :key="prod.id">
        <ProductoCard :prod="prod"></ProductoCard>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ProductoCard from "./ProductoCard.vue";
import ProductoRepository from "@/repositories/ProductoRepository";
import TemaRepository from "@/repositories/TemaRepository";

export default {
  data() {
    return {
      tema: null,
      prods: [],
    };
  },
  components: { ProductoCard },
  async mounted() {
    this.tema = await TemaRepository.findOne(this.$route.params.id);
    this.prods = await ProductoRepository.findByTema(this.tema.id);
  },
};
</script>