<template>
  <v-container class="text-center">
    <v-form ref="form" @submit.prevent="save">
      <v-card>
        <v-card-title>
          <v-text-field v-model="prod.titulo" label="Titulo" :rules="requiredField" maxlength="50"></v-text-field>
          <v-spacer/>
          <!--span>By {{prod.vendedor.login}} </span-->
        </v-card-title>
        <v-card-text>
          <v-select v-model="prod.tema" :items="temas" item-text="name" label="Temas" return-object></v-select>

          <v-textarea v-model="prod.descripcion" label="Descripcion" rows="5" :rules="requiredField" maxlength="300"></v-textarea>
          <v-text-field v-model="prod.precio" label="Precio" :rules="requiredField"></v-text-field>
          <!--input type="file" ref="hiddenUploader" class="d-none" />
          <v-btn block text @click="uploadImage()"> Seleccionar imagen </v-btn-->
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="green darken-1" type="submit">Submit</v-btn>
          <v-btn @click="back()">Back</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-container>
</template>

<script>
import ProductoRepository from "@/repositories/ProductoRepository";
import UsuarioRepository from "@/repositories/UsuarioRepository";
import TemaRepository from "@/repositories/TemaRepository";
import store from "@/common/store";

export default {
  data() {
    return {
      prod: {},
      users: [],
      temas: [],
      requiredField: [(v) => !!v || "Field is required"],
      usuario: store.state.user,
    };
  },
  async created() {
    this.users = await UsuarioRepository.findAll();
    this.temas = await TemaRepository.findAll();
    this.usuario = await UsuarioRepository.findByLogin(this.usuario.login);

    if (this.$route.params.id) {
      this.prod = await ProductoRepository.findOne(this.$route.params.id);
    } else {
      this.prod = {};
    }
  },
  methods: {
    async save() {
      if (!this.$refs.form.validate()) {
        return;
      }
      try {
        this.prod.vendedor = this.usuario.login;
        const savedProducto = await ProductoRepository.save(this.prod);
        /*if (this.$refs.hiddenUploader.files[0]) {
          await ProductoRepository.saveImage(savedProducto.id, this.$refs.hiddenUploader.files[0]);
        }*/
        this.$router.replace({
          name: "ProductoDetail",
          params: { id: savedProducto.id },
        });
      } catch (err) {
        this.$notify({
          text: err.response.data.message,
          type: "error",
        });
      }
    },
    async remove() {
      await ProductoRepository.delete(this.prod.id);
      this.$router.replace({ name: "ProductoList" });
    },
    back() {
      this.$router.go(-1);
    },
    uploadImage() {
      this.$refs.hiddenUploader.click();
    },
  },
};
</script>

