<template>
  <v-container>
    <v-row>
      <v-col cols="10" offset="1">
        <v-card>
          <v-col cols="12">
            <div class="d-inline-block">
              <h1>Lista De Productos Que Me Han Gustado</h1>
              <div class="caption">Data fetched <span class="font-weight-bold">after</span> navigation</div>
            </div>
          </v-col>
          <span v-if="prods.length">
            <v-col cols="12" sm="12" lg="12" v-for="prod in prods" :key="prod.id">
              <span v-if="prod.comprador == null">
                <ProductoCard :prod="prod"></ProductoCard>
              </span>
            </v-col>
          </span>
          <h3 v-else>Aun no le has dado a me gusta a ningun producto</h3>
          <v-card-actions>
            <v-spacer />
            <v-btn @click="back()"> Back </v-btn>
        </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ProductoCard from "./ProductoCard.vue";
import UsuarioRepository from "@/repositories/UsuarioRepository";
import store from "@/common/store.js";

let delay = null;

export default {
  data() {
    return {
        user: store.state.user,
        prods: [],
        query: null,
        usuario: null,
    };
  },
  components: { ProductoCard },
  mounted() {
    this.fetchData();
  },
  methods: {
    prodsEmpty(){
      if (this.prods == [])
        return true;
      else return false;
    },
    updateData() {
      clearTimeout(delay);
      delay = setTimeout(this.fetchData, 500);
    },
    async fetchData() {
      this.usuario = await UsuarioRepository.findByLogin(store.state.user.login);
      this.prods = await UsuarioRepository.findAllMeGusta(this.usuario.id);
    },
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
h3{
  text-align: center;
}
</style>

