<template>
    <v-card class="card rounded-card" outlined width="750px" min-height="100px">
        <v-row>
            <v-col>
                <v-card-title>
                    {{ pista.nombre }}
                </v-card-title>
                <v-card-subtitle>
                    Precio: {{ pista.precio }}
                    <div v-if="pista.estado">Estado: Disponible</div>
                    <div v-else>Estado: No Disponible</div>
                    <div>Tipo pista: {{ pista.tipoPista }}</div>
                </v-card-subtitle>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn v-if="user.authority === 'ADMIN_WEB'" color="primary" :to="{ name: 'PistaUpdate', params: { id: pista.id } }">
                        Editar
                    </v-btn>
                    <v-btn v-else color="primary" :to="{ name: 'PistaUpdateAC', params: { id: pista.id } }">
                        Editar
                    </v-btn>
                    <v-btn class="btn" color="red" @click="remove()">
                        Eliminar
                    </v-btn>
                </v-card-actions>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import store from "@/common/store";
    import PistaRepository from "@/repositories/PistaRepository";

    export default {
        data() {
            return {
                user: store.state.user,
            };
        },
        name: "PistaCard",
        props: {
            pista: {
                type: Object,
                required: true,
            },
        },
        
        methods: {
            async remove() {
                //const idClub = this.pista.club
                await PistaRepository.delete(this.pista.id);
                window.location.href = this.$route.fullPath;
                //this.$router.replace({ name: "ClubDetail", params: { id: idClub} });
            },
            async estado(){
                if (this.pista.estado == true){
                    return "Disponible";
                } else {
                    return "No Disponible";
                }
            }
        },
    }
</script>

<style scoped>

    .btn{
        margin-right: 10px;
    }
    .rounded-card{
        border-radius: 25px;
    }

</style>