<template>
    <div class="sidebar">
        <SidebarAC/>
        <div class="content">
            <v-layout class="text-center" justify-center align-center>
                <v-form ref="form" @submit.prevent="save">
                    <v-card class="card" min-width="100px" width="500px">
                        <v-card-title>
                            <v-col>
                                <div v-if="pista.id">Editando una pista</div>
                                <div v-else>Creando una nueva pista en {{ club.nombre }}</div>
                                <v-text-field v-model="pista.nombre" label="Nombre de la pista" :rules="requiredField" maxlength="50"></v-text-field>
                                <label>
                                    <input type="checkbox" v-model="pista.estado">
                                    Estado
                                </label>
                                <v-text-field v-model="pista.precio" label="Precio" :rules="requiredField" maxlength="50"></v-text-field>
                                <v-select v-model="pista.tipoPista" label="Tipo pista" :items="tipoPista"></v-select>
                            </v-col>
                        </v-card-title>

                        <v-card-actions>
                            <v-spacer />
                            <v-btn @click="back()">Back</v-btn>
                            <v-btn color="blue" type="submit">Submit</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
            </v-layout>
        </div>
    </div>
    
</template>

<script>
    import store from "@/common/store";
    import PistaRepository from "@/repositories/PistaRepository";
    import ClubRepository from "@/repositories/ClubRepository";
    import SidebarAC from "@/components/SidebarAC";

    export default {
        data() {
            return {
                club: {},
                pista: {
                    estado: false,
                },
                usuario: store.state.user,
                requiredField: [(v) => !!v || "Field is required"],
                tipoPista: ['PADEL_IND', 'PADEL_DOBLES'],
            };
        },
        components: {SidebarAC},
        async created() {
            if(this.$route.params.idClub){
                this.club = await ClubRepository.findOne(this.$route.params.idClub);
            } else {
                this.club = {}
            }
                
            if (this.$route.params.id) {
                this.pista = await PistaRepository.findOne(this.$route.params.id);
                this.club = await ClubRepository.findOne(this.pista.club);
            } else {
                this.pista = {};
                this.pista.estado = false;
            }
        },
        methods: {
            async save() {
                if (!this.$refs.form.validate()) {
                    return;
                }
                try {
                    this.pista.club = this.club.id;
                    /*const savedPista =*/ await PistaRepository.save(this.pista);
                    this.$router.replace({
                        name: "ClubDetail",
                        params: { id: this.club.id }
                    });
                } catch (err) {
                    this.$notify({
                        text: err.response.data.message,
                        type: "error",
                    });
                }
            },
            back() {
                this.$router.go(-1);
            },
        }
    }
</script>

<style scoped>
    .sidebar{
        display: grid;
        grid-template-columns: 1fr 5fr;
        background-color: rgb(101, 150, 206);
        height: auto;
        min-height: 92vh;
        width: 100vw;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .content{
        position: absolute;
        background-color: white;
        border-radius: 20px;
        margin: 0 6px 6px 16.85%;
        width: 90%;
        height: 100%;
    }
    .card{
        margin-top: 20px;
        margin-right: 125px;
    }
</style>