<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="text-center">
        <div class="right-buttons-bar">
          <v-btn v-if="user.authority==='ADMIN'" :to="{ name: 'TemaCreate' }" color="green darken-1" rounded>
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </div>
        <h1>Lista De Temas</h1>
        <div class="caption">Data fetched <span class="font-weight-bold">after</span> navigation</div>
      </v-col>
      
      <v-col cols="12" sm="6" lg="3" v-for="tema in temas" :key="tema.id">
          <TemaCard :tema="tema"></TemaCard>
      </v-col>
        
    </v-row>
  </v-container>
</template>

<script>
import TemaCard from "./TemaCard.vue";
import TemaRepository from "@/repositories/TemaRepository";
import store from "@/common/store";

export default {
  data() {
    return {
      user: store.state.user,
      temas: [],
    };
  },
  components: { TemaCard },
  async mounted() {
    this.temas = await TemaRepository.findAll();
  },
};
</script>
