<template>
  <v-card>
    <v-card-title>
      <router-link :to="{ name: 'ProductoListTema', params: { id: tema.id } }" v-slot="{ navigate }" custom>
        <span @click="navigate" class="pointer">{{ tema.name }}</span>
      </router-link>
    </v-card-title>
    <v-card-actions>
      <v-btn class="margen-btn" color="green" v-if="user.authority === 'ADMIN'" :to="{ name: 'TemaUpdate', params: { id: tema.id } }">Editar</v-btn>
      <v-btn color="red" @click="getProds() && remove()" v-if="user.authority === 'ADMIN'">Borrar</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import store from "@/common/store";
import TemaRepository from "@/repositories/TemaRepository";
import ProductoRepository from "@/repositories/ProductoRepository";

export default {
  data() {
    return {
      user: store.state.user,
      prods: [],
    };
  },
  name: "TemaCard",
  props: {
    tema: {
      type: Object,
      required: true,
    },
  },
  methods: {
    async getProds(){
      this.prods = await ProductoRepository.findByTema(this.tema.id);
      for (let i = 0; i < this.prods.lenght; i++) {
        this.prods[i].tema = {};
        await ProductoRepository.save(this.prods[i]);
      }
    },
    async remove() {
      await TemaRepository.delete(this.tema.id);
      this.$router.replace({ name: "TemaList" });
      location.reload();
    },
  },
};
</script>

<style scoped>
.temas {
  font-style: italic;
}

.margen-btn{
  margin-left: 100px;
}

.separador{
  margin: 30px;
}
</style>
