<template>
  <v-container>
    <v-row>
      <v-col cols="12" v-if="loading" class="loading">Loading...</v-col>
      <v-col cols="8" offset="2" v-if="tema">
        <v-card>
          <v-card-title>
            <span>{{ temasAsString() }}</span>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import TemaRepository from "@/repositories/TemaRepository";

export default {
  data() {
    return {
      loading: false,
      tema: null,
    };
  },
  async mounted() {
    this.loading = true;
    try {
      this.tema = await TemaRepository.findOne(this.$route.params.id);
    } catch (e) {
      this.$notify({
        text: e.response.data.message,
        type: "error",
      });
      setTimeout(() => this.back(), 2000);
    } finally {
      this.loading = false;
    }
  },
  computed: {
    temasAsString() {
      return this.temas.map((t) => t.name).join(", ");
    },
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
.temas {
  font-style: italic;
}
.prod {
  padding: 30px 50px;
  color: rgba(0, 0, 0, 0.87);
  font-size: larger;
}

.error {
  margin-top: 40px;
}
</style>
