<template>
  <v-container class="text-center">
    <v-form ref="form" @submit.prevent="save">
      <v-card width="50%" class="centrar">
        <v-card-title class="justify-center">
          <v-text-field v-model="tema.name" label="Nombre" :rules="requiredField"></v-text-field>
        </v-card-title>

        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" type="submit">Confirmar</v-btn>
          <v-btn @click="back()">Atras</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-container>
</template>

<script>
import TemaRepository from "@/repositories/TemaRepository";

export default {
  data() {
    return {
      tema: {},
      requiredField: [(v) => !!v || "Field is required"],
    };
  },
  async created() {
    if (this.$route.params.id) {
      this.tema = await TemaRepository.findOne(this.$route.params.id);
    } else {
      this.tema = {};
    }
  },
  methods: {
    async save() {
      if (!this.$refs.form.validate()) {
        return;
      }
      try {
        await TemaRepository.save(this.tema);
        this.$router.replace({
          name: "TemaList",
        });
      } catch (err) {
        this.$notify({
          text: err.response.data.message,
          type: "error",
        });
      }
    },
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>

  .centrar{
    margin: auto;
  }
</style>
