<template>
  <v-container>
    <v-row>
      <v-col class="text-center">
        <h2 class="display-2 font-weight-bold">Bienvenidos a mi TFG</h2>
        <h3>Esta pagina web es solo para administradores web o administradores de club</h3>
        <h4>Para Jugadores hay disponible una app movil</h4>
        <div class="flex justify-center" style="text-align: left;">
          <v-btn active-class="hide-active" to="/login-web" v-if="!isLogged" style="margin-right: 15px;">
            Acceso Administrador
          </v-btn>
        </div>
      </v-col>
      <v-col><v-img :src="require('../assets/udc.png')" contain height="100"></v-img></v-col>
    </v-row>
  </v-container>
</template>

<script>
import store from "../common/store"

export default {
  data() {
    return {
      user: store.state.user,
    };
  },
};
</script>

<style scoped>
.text-center {
  margin-top: 30px;
  margin-bottom: 60px;
}

.flex{
  display: flex;
  margin: 30px
}
</style>
