<template>
    <v-container >
        <v-row v-if="user.authority == 'ADMIN_WEB'">
            <v-col class="text-center">
                <h1 style="text-align: center;">Bienvenido {{ user.login }}</h1>
                <div class="flex justify-center" style="text-align: left">
                    <v-btn class="btn-1" width="33%" min-width="220px" height="110px" to="/clubes"> 
                        Administrar Club
                        <v-icon>mdi-tennis</v-icon>
                    </v-btn>
                    <v-btn class="btn-4" width="33%" min-width="220px" height="110px" to="/register">
                        Crear Nuevo Usuario 
                        <v-icon>
                            mdi-account-plus
                        </v-icon>
                    </v-btn>
                </div>
                <div class="flex justify-center" style="text-align: left">
                    <v-btn class="btn-3" width="33%" min-width="220px" height="110px" to="/club/new">
                        Crear club
                        <v-icon>
                            mdi-dumbbell
                        </v-icon>
                    </v-btn>
                    <v-btn class="btn-5" width="33%" min-width="220px" height="110px" to="/usuarios">
                        Gestionar Usuarios
                    </v-btn>
                </div>
            </v-col>
        </v-row>

        <v-row v-if="user.authority == 'ADMIN_CLUB'">
            <v-col class="text-center" v-if="this.club.id">
                <h1 >Bienvenido {{ user.login }}</h1>
                <div class="flex justify-center" style="text-align: left">
                    <v-btn  class="btn-1" width="33%" min-width="220px" height="110px" :to="{ name: 'ClubDetailAC', params: { id: this.club.id } }"> 
                        Administrar MI CLUB
                        <v-icon>mdi-tennis</v-icon>
                    </v-btn>
                    <v-btn class="btn-3" width="33%" min-width="220px" height="110px" to="/reservas">
                        Reservar pista
                        <v-icon>
                            mdi-dumbbell
                        </v-icon>
                    </v-btn>
                    <v-btn class="btn-6" width="33%" min-width="220px" height="110px" to="/bonos">
                        Bonos de clases
                    </v-btn>
                </div>
                <h2>
                    <v-btn @click="retroceder()">Dia anterior</v-btn>
                    <span v-if="DateAsString() !== fechaFormateada">Partidos del dia: {{ fechaFormateada }} </span>
                    <span v-else>Partidos del dia: Hoy</span>
                    <v-btn @click="avanzar()">Dia Siguiente</v-btn>
                </h2>
                <v-card v-if="partidos.length" class="card" justify-center align-center>
                    <v-col v-for="partido in partidos" :key="partido.id" >
                        <span v-if="DateAsString(fechaActual) == DateAsString(partido.hora_ini)">
                            <PartidoCard :partido="partido"></PartidoCard>
                        </span>
                    </v-col>
                </v-card>
                <h3 class="h3" v-else> Aun no hay partidos reservados </h3>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import store from "../common/store"
import ClubRepository from "@/repositories/ClubRepository";
import UsuarioRepository from "@/repositories/UsuarioRepository";
import PistaRepository from "@/repositories/PistaRepository";
import PartidoRepository from "@/repositories/PartidoRepository";
import PartidoCard from "@/entities/partido/PartidoCard.vue";
import moment from "moment";

export default {
    data() {
        return {
            user: store.state.user,
            club: {},
            pistas: [],
            usuario: {},
            partidos: [],
            fechasUnicas: [],
            fechaActual: new Date(),
        };
    },
    components: { /*PistaCard*/ PartidoCard },
    async created() {
        this.usuario = await UsuarioRepository.findByLogin(this.user.login);
        if(this.user.authority === 'ADMIN_CLUB'){
            this.club = await ClubRepository.findByAdmin(this.usuario.id);
            this.pistas = await PistaRepository.findAllByClub(this.club.id);
            this.partidos = await PartidoRepository.findAllByClub(this.club.id);
        }
    },
    computed: {
        fechaFormateada() {
            return moment(this.fechaActual).format('DD/MM/YYYY'); // Formatear la fecha utilizando Moment.js
        },
    },
    methods: {
        DateAsString(date) {
            return moment(date).format("DD/MM/YYYY");
        },
        avanzar(){
            const nuevaFecha = new Date(this.fechaActual);
            nuevaFecha.setDate(nuevaFecha.getDate() + 1);
            this.fechaActual = nuevaFecha;
        },
        retroceder(){
            const nuevaFecha = new Date(this.fechaActual);
            nuevaFecha.setDate(nuevaFecha.getDate() - 1);
            this.fechaActual = nuevaFecha;
        }
    }
};
</script>

<style scoped>
    .flex{
        display: flex;
        margin: 25px;
    }

    .btn-1 .btn-2{
        white-space: nowrap;
    }

    .btn-1{
        margin-right: 7%;
        position: relative;
        color: black;
    }

    .btn-1::before{
        position: absolute;
        background-image: url('../assets/pista_padel.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.5;
    }

    .btn-2{
        position: relative;
        color: black;
    }

    .btn-2::before{
        position: absolute;
        background-image: url('../assets/engranaje.png');
        background-size: cover;
        background-position: center;
        opacity: 0.5;
    }

    .btn-3{
        position: relative;
        margin-right: 7%;
    }
    .btn-3::before{
        color: black;
        background-image: url('../assets/crear_club.jpg');
        background-size: cover;
        opacity: 0.7;
        position: absolute;
    }

    .btn-4{
        position: relative;
        color: black;
    }

    .btn-4::before{
        position: absolute;
        background-image: url('../assets/gestor.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.5;
    }

    .btn-5{
        position: relative;
        color: black;
    }

    .btn-5::before{
        position: absolute;
        background-image: url('../assets/buyer-personas.jpg');
        background-size: cover;
        background-position: center bottom;
        opacity: 0.5;
    }

    .btn-6{
        position: relative;
        color: black;
    }

    .btn-6::before{
        position: absolute;
        background-image: url('../assets/clase_padel.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.5;
    }

    .card{
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .h3{
        margin-top: 25px;
    }

</style>