<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-form @submit.prevent="userLogin">
        <v-card class="card">
          <v-card-text>
            <h2 style="text-align:center">Inicio de sesión-Admin Web/Club</h2>
            <v-text-field label="Login" name="login" prepend-icon="person" type="text" v-model="username"></v-text-field>
            <v-text-field v-model="password" label="Password" name="password" prepend-icon="lock" type="password"></v-text-field>
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn @click="back()">Back</v-btn>
            <v-btn class="btn" type="submit" color="primary">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  import auth from "../common/auth";
  import store from "../common/store"
  import AccountRepository from "@/repositories/AccountRepository";
  
  export default {
    data() {
      return {
        userLogged: store.state.user,
        username: "",
        password: "",
        user: {},
      };
    },
    methods: {
      getAuthority(){
        this.authority = AccountRepository.getAccount().autoridad;
      },
      userLogin() {
        auth
          .login({
            login: this.username,
            password: this.password,
          })
          .then(() => {
            this.$router.go({name: "InicioWeb"});
          })
          .catch(() => {
            this.$notify({
              text: "Login o Contraseña incorrecta",
              type: "error",
            });
          });
      },
      back() {
        this.$router.go(-1);
      },
    },
  };
</script>

<style scoped>
.card{
  margin-top: 30px;
  margin-bottom: 60px;
}
</style>
