<template>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-form @submit.prevent="userLogin">
          <v-card class="card">
            <v-card-text>
              <h2 style="text-align:center">Inicio de sesión-Admin Club</h2>
              <v-text-field label="Login" name="login" prepend-icon="person" type="text" v-model="username"></v-text-field>
              <v-text-field v-model="password" label="Password" name="password" prepend-icon="lock" type="password"></v-text-field>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn class="btn" type="submit" color="primary">Login</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-flex>
    </v-layout>
  </template>
  
  <script>
  import auth from "../common/auth";
  import AccountRepository from "@/repositories/AccountRepository";
  
  export default {
    data() {
      return {
        username: "",
        password: "",
        user: {},
      };
    },
    methods: {
      userLogin() {
        auth
          .login({
            login: this.username,
            password: this.password,
          })
          .then(() => {
            // vamos a la página anterior después de autenticarnos
            this.$router.go({name: "Home"});
          })
          .catch(() => {
            this.$notify({
              text: "Login o Contraseña incorrecta",
              type: "error",
            });
          });
      },
      async registerUser(){
        this.user.login = this.username;
        this.user.password = this.password;
        await AccountRepository.registerAccount(this.user);
      }
    },
  };
  </script>
  
  <style scoped>
  .card{
    margin-top: 30px;
    margin-bottom: 60px;
  }
  </style>