<template>
    <div class="sidebar">
        <SidebarAC/>
        <div class="content" style="justify-content: center; align-items: center;"> 
            <h1 class="h1">Portal de reservas</h1>
            <v-card class="card text-center" v-for="(dia, index) in proximosDias" :key="index" style="justify-content: center; align-items: center;">
                <h2>{{ dia }}</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th v-for="hora in horas" :key="hora">{{ hora }}</th>
                    </tr>
                    </thead>
                    <tbody class="body">
                        <tr v-for="pista in pistas" :key="pista.id">
                            <td>{{ pista.nombre }}</td>
                            <td
                                v-for="hora in horas"
                                :key="hora"
                                @click="toggleDisponibilidad(pista, dia, hora)"
                                :class="getEstado(pista, dia, hora)"
                            >
                            </td>
                        </tr>
                    </tbody>
                </table>
                <v-btn class="btn" @click="reservarPista()">Reservar</v-btn>
            </v-card>
        </div>
    </div>
</template>
  
<script> 
    import store from "../common/store";
    import UsuarioRepository from "@/repositories/UsuarioRepository";
    import ClubRepository from "@/repositories/ClubRepository";
    import PistaRepository from "@/repositories/PistaRepository";
    import PartidoRepository from "@/repositories/PartidoRepository";
    import moment from "moment";
    import SidebarAC from "./SidebarAC";

    export default {
        data() {
            return {
                user: store.state.user,
                usuario: {},
                club: {},
                pistas: [],
                partidos: [],
                newPartido: {},
                horas: [
                    "10:00","10:30","11:00","11:30","12:00","12:30","13:00","13:30","15:00","15:30","16:00",
                    "16:30","17:00","17:30","18:00","18:30","19:00","19:30","20:00","20:30","21:00","21:30"   
                ],
                disponibilidad: {}, 
                proximosDias: Array.from({ length: 7 }, (_, i) => {
                    return moment().add(i, "days").format("YYYY-MM-DD");
                }),
                reservasSeleccionadas: [],
            };
        },
        components: { SidebarAC },
        async created() {
            this.usuario = await UsuarioRepository.findByLogin(this.user.login);
            this.club = await ClubRepository.findByAdmin(this.usuario.id);
            this.pistas = await PistaRepository.findAllByClub(this.club.id);
            this.partidos = await PartidoRepository.findAllByClub(this.club.id);
            this.inicializarDisponibilidad(); 
        },
        methods: {
            toggleDisponibilidad(pista, dia, hora) {
                if (this.getEstado(pista, dia, hora) === 'no-disponible') {
                    return; 
                }

                const seleccionActual = { pista: pista.id, dia, hora };
                const indiceSeleccionActual = this.reservasSeleccionadas.findIndex(reserva => reserva.pista === pista.id && reserva.dia === dia && reserva.hora === hora);

                if (indiceSeleccionActual !== -1) {
                    this.$set(this.disponibilidad[pista.id][dia], hora, 'disponible');
                    this.reservasSeleccionadas.splice(indiceSeleccionActual, 1);
                    return;
                }

                // Comprobar si la selección es consecutiva con la última
                const ultimaSeleccion = this.reservasSeleccionadas[this.reservasSeleccionadas.length - 1];
                if (ultimaSeleccion && ultimaSeleccion.pista === pista.id && ultimaSeleccion.dia === dia) {
                    const diferencia = this.horas.indexOf(hora) - this.horas.indexOf(ultimaSeleccion.hora);
                    if (Math.abs(diferencia) !== 1) {
                        alert('Por favor, seleccione horas consecutivas.');
                        return;
                    }
                }

                this.$set(this.disponibilidad[pista.id][dia], hora, 'reservando');
                this.reservasSeleccionadas.push(seleccionActual);
            },

            getEstado(pista, dia, hora) {
                if (this.disponibilidad[pista.id] && this.disponibilidad[pista.id][dia]) {
                    return this.disponibilidad[pista.id][dia][hora] || 'disponible';
                }
                return 'disponible';
            },

            inicializarDisponibilidad() {
                this.pistas.forEach((pista) => {
                    this.$set(this.disponibilidad, pista.id, {});
                    this.proximosDias.forEach((dia) => {
                        this.$set(this.disponibilidad[pista.id], dia, {});
                        this.horas.forEach((hora) => {
                            const trimmedHora = hora.trim(); 
                            this.$set(this.disponibilidad[pista.id][dia], trimmedHora, 'disponible');
                        });
                    });
                });

                this.partidos.forEach((partido) => {
                    const horaInicioPartido = moment(partido.hora_ini).format("YYYY-MM-DD HH:mm"); 
                    const horaFinPartido = moment(partido.hora_fin).format("YYYY-MM-DD HH:mm"); 
                    this.proximosDias.forEach((dia) => {
                        this.pistas.forEach((pista) => {
                            if (pista.id === partido.pista) { 
                                this.horas.forEach((horaString, index) => {
                                    const horaActual = moment(dia + " " + horaString);
                                    const siguienteHora = moment(dia + " " + (this.horas[index + 1] || "21:30"));
                                    if (horaActual.isSameOrAfter(horaInicioPartido) && siguienteHora.isSameOrBefore(horaFinPartido)) {
                                        this.$set(this.disponibilidad[pista.id][dia], horaString, 'no-disponible');
                                    }
                                });
                            }
                        });
                    });
                });
            },

            reservarPista() {
                if (this.reservasSeleccionadas.length === 0) {
                    alert('Por favor, seleccione al menos una franja horaria para reservar.');
                    return;
                }

                const dia = this.reservasSeleccionadas[0].dia;
                const pista = this.reservasSeleccionadas[0].pista;
                if (!this.reservasSeleccionadas.every(s => s.dia === dia && s.pista === pista)) {
                    alert('Por favor, seleccione horas consecutivas en el mismo día y pista.');
                    return;
                }

                const horas = this.reservasSeleccionadas.map(s => s.hora).join('-');
                console.log(horas);
                this.$router.push({ path: '/partido/new-admin', query: { dia, pista, horas } });
            },
        },
    };
</script>
  
<style scoped>
    .sidebar{
        display: grid;
        grid-template-columns: 1fr 5fr;
        background-color: rgb(101, 150, 206);
        height: auto;
        min-height: 200vh;
        width: 100vw;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .content{
        position: absolute;
        background-color: white;
        border-radius: 20px;
        margin: 0 6px 6px 16.85%;
        width: 90%;
        height: 100%;
    }
    .h1{
        text-align: center;
        margin: 20px;
    }
    .card{
        margin: 20px auto 20px auto;
        max-width: 1000px;
        align-items: center;
        justify-content: center;
    }
    .btn{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .disponible {
        background-color: green; 
    }
    .no-disponible{
        background-color: red;
        cursor: not-allowed;
    }
    .reservando {
        background-color: orange; /* Color para representar una reserva en proceso */
    }
</style>
  