<template>
	<div class="sidebar">
		<div class="menu-items">
			<router-link to="/inicio-web" active-class="active" tag="button" class="side-btn" exact>
				<div class="link-container">
					Home
				</div>
			</router-link>
			<router-link to="/clubes" active-class="active" tag="button" class="side-btn" exact>
				<div class="link-container">
					Admin Clubes
				</div>
			</router-link>
			<router-link to="/club/new" active-class="active" tag="button" class="side-btn" exact>
				<div class="link-container">
					Crear Club
				</div>
			</router-link>
			<router-link to="/register" active-class="active" tag="button" class="side-btn" exact>
				<div class="link-container">
					Crear Usuario
				</div>
			</router-link>
			<router-link to="/usuarios" active-class="active" tag="button" class="side-btn" exact>
				<div class="link-container">
					Gestionar Usuario
				</div>
			</router-link>
		</div>
	</div>
</template>
  
<script>
	export default {
		name: "Sidebar",
		// Puedes agregar lógica específica del componente de la barra lateral aquí
	};
</script>
  
<style scoped>

	.sidebar{
		height: 100%;
	}
	.menu-items{
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}
	.menu-items > * {
		margin-top: 40px;
	}

	.side-btn:focus{
		outline: none;
	}

	.side-btn.active{
		position: relative;
		background-color: white;
		color: black;
		font-weight: 550;
		margin-left: 15px;
		border-radius: 15px 0 0 15px;
	}

	.side-btn.active::before{
		position: absolute;
		content: "";
		top: -15px;
		right: 0;
		height: 15px;
		width: 15px;
		background-color: white;
	}

	.side-btn.active::after{
		position: absolute;
		content: "";
		bottom: -15px;
		right: 0;
		height: 15px;
		width: 15px;
		background-color: white;
	}

	.side-btn:hover{
		background-color: white;
		color: black;
	}

	.side-btn{
		border: none;
		padding: 16px 0px;
		cursor: pointer;
		font-size: 16px;
		color: white;
		background-color: transparent;
	}

	.side-btn.active .link-container::before{
		position: absolute;
		top: -30px;
		right: 0;
		content: "";
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background-color: rgb(101, 150, 206);
	}

	.side-btn.active .link-container::after{
		position: absolute;
		content: "";
		bottom: -30px;
		right: 0;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background-color: rgb(101, 150, 206);
		z-index: 99;
	}
</style>
  