<template>
    <v-card class="card" max-height="200px">
        <v-row>
            <v-card-title>
                <span v-if="mensaje && mensaje.usuarioEnvio != user.login"> {{mensaje.usuarioEnvio}} </span>
                <span v-else-if="mensaje && mensaje.usuarioRecibo != user.login"> {{mensaje.usuarioRecibo}}</span>
            </v-card-title>
            <v-card-text>
                {{mensaje.texto}} 
                <v-spacer />
                {{DateAsString(mensaje.fechaEnvio)}}
                
            </v-card-text>
            <v-card-actions>
                <router-link v-if="mensaje.usuarioEnvio != user.login" :to="{name: 'MensajeList', params: {login: mensaje.usuarioEnvio}}" v-slot="{ navigate }" custom>
                    <v-btn class="btn" @click="navigate">Seguir chateando</v-btn>
                </router-link>

                <router-link v-if="mensaje.usuarioRecibo != user.login" :to="{name: 'MensajeList', params: {login: mensaje.usuarioRecibo}}" v-slot="{ navigate }" custom>
                    <v-btn class="btn" @click="navigate">Seguir chateando</v-btn>
                </router-link>
            </v-card-actions>
        </v-row>
    </v-card>
</template>

<script>
import store from "@/common/store";
import moment from "moment";
import UsuarioRepository from "@/repositories/UsuarioRepository";

export default {
  data() {
    return {
      user: store.state.user,
    }
  },
  name: "ChatCard",
  props: {
    mensaje: {
      type: Object,
      required: true,
    },
  },
  async mounted() {
    this.user = await UsuarioRepository.findByLogin(this.user.login);
  },
  methods: {
    DateAsString(date) {
      return moment(date).format("hh:mm a, DD/MM/YYYY");
    },
  },
};
</script>

<style scoped>
.card{
  min-width: 300px;
  max-width: 750px;
}

.margen{
    margin-left: 10px;
}

.btn{
    margin-left: 15px;
}


</style>
