<template>
  <v-container>
    <v-col cols="12" class="text-center">
      <h1>Mis lista de mensajes</h1>
      <div class="caption">Data fetched <span class="font-weight-bold">after</span> navigation</div>
    </v-col>
    <v-card max-height="700px" min-height="600px" min-width="1020px" v-scroll.self="onScroll" class="overflow-y-auto">
      <v-row>
        <v-col cols="12" sm="12" lg="12" v-for="mensaje in chats" :key="mensaje.id">
            <ChatCard :mensaje="mensaje" class="margen"></ChatCard>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import ChatCard from "./ChatCard.vue";
import UsuarioRepository from "@/repositories/UsuarioRepository";
import store from "@/common/store";

export default {
  data() {
    return {
      userPerfil: store.state.user,
      mensajes: [],
      mensaje: {},
      chats: [],
    };
  },
  components: { ChatCard },
  async mounted() {
    this.userPerfil = await UsuarioRepository.findByLogin(this.userPerfil.login);
    this.mensajes = await UsuarioRepository.findChats(this.userPerfil.id);
    for(let i = this.mensajes.length-1; i>0; i--){
        if(!this.chats.includes(this.mensajes[i].usuarioEnvio)){
            if(!this.chats.includes(this.mensajes[i].usuarioRecibo))
                this.chats.push(this.mensajes[i]);
        }
    }
  },
  methods: {
    onScroll () {
      this.scrollInvoked++
    },
  }
};
</script>

<style scoped>
.margen {
  margin-top: 25px;
}

.margen-form{
  margin-top: 11px;
  margin-left: 10px;
}

.btn-height{
  min-height: 55px;
}

.row-width{
  width: 101%;
}

</style>
