<template>
  <v-card class="card envio rounded-card" v-if="mensaje.usuarioEnvio === user.login" color="green">
    <v-row>
      <v-card-title>
        <span >{{ mensaje.texto }}</span>
      </v-card-title>
      <v-spacer/>
      <v-card-subtitle>{{DateAsString(mensaje.fechaEnvio)}}</v-card-subtitle>
    </v-row>
  </v-card>
  <v-card class="card recibe rounded-card" v-else >
    <v-row>
      <v-card-title>
        <span >{{ mensaje.texto }}</span>
      </v-card-title>
      <v-spacer/>
      <v-card-subtitle class="fecha-margin">{{DateAsString(mensaje.fechaEnvio)}}</v-card-subtitle>
    </v-row>
  </v-card>
</template>

<script>
//import MensajeRepository from "@/repositories/MensajeRepository";
import store from "@/common/store";
import moment from "moment";

export default {
  data() {
    return {
      user: store.state.user,
    }
  },
  name: "MensajeCard",
  props: {
    mensaje: {
      type: Object,
      required: true,
    },
  },
  methods: {
    DateAsString(date) {
      return moment(date).format("hh:mm a, DD/MM/YYYY");
    },
  },
};
</script>

<style scoped>
.card{
  min-width: 100px;
  max-width: 400px;
}

.btn{
  margin-right: 10px;
}

.envio{
  margin-left: 65%;
  margin-bottom: 1%;
}

.recibe{
  margin-left: 1%;
  margin-bottom: 1%;
}

.rounded-card{
    border-radius:25px;
}

.fecha-margin{
  margin-top: 10px;
}
</style>
