<template>
  <v-container>
    <v-col cols="12" class="text-center">
      <h1 v-if="user">Chat de mensajes con {{user.login}}</h1>
      <div class="caption">Data fetched <span class="font-weight-bold">after</span> navigation</div>
    </v-col>
    <v-card max-height="700px" min-height="400px" min-width="1020px" v-scroll.self="onScroll" class="overflow-y-auto">
      
      <v-row>
        <v-col cols="12" sm="12" lg="12" v-for="mensaje in mensajes" :key="mensaje.id">
          <MensajeCard :mensaje="mensaje" class="margen"></MensajeCard>
        </v-col>
      </v-row>
    </v-card>
    
    <v-form ref="form" @submit.prevent="enviar" class="margen-form ">
      <v-row class="row-width">
        <v-text-field full-width v-model="mensaje.texto" label="Escriba aqui su mensaje..." solo outlined ></v-text-field>
        <v-btn class="btn-height" type="submit">
          <v-icon>mdi-send</v-icon>
        </v-btn>  
      </v-row>
    </v-form>
    
  </v-container>
</template>

<script>
import MensajeCard from "./MensajeCard.vue";
import MensajeRepository from "@/repositories/MensajeRepository";
import UsuarioRepository from "@/repositories/UsuarioRepository";
import store from "@/common/store";

export default {
  data() {
    return {
      userPerfil: store.state.user,
      mensajes: [],
      user: {},
      mensaje: {},
      scrollInvoked: 0,
    };
  },
  components: { MensajeCard },
  async mounted() {
    this.userPerfil = await UsuarioRepository.findByLogin(this.userPerfil.login);
    this.user = await UsuarioRepository.findByLogin(this.$route.params.login);
    this.mensajes = await MensajeRepository.findConversacion(this.userPerfil.id, this.user.id);
  },
  methods: {
    async enviar(){
      this.mensaje.usuarioEnvio = this.userPerfil.login;
      this.mensaje.usuarioRecibo = this.user.login;
      await MensajeRepository.enviarMensaje(this.mensaje);
      //this.$router.go();
    },
    onScroll () {
      this.scrollInvoked++
    },
  }
};
</script>

<style scoped>
.margen {
  margin-top: 25px;
}

.margen-form{
  margin-top: 11px;
  margin-left: 10px;
}

.btn-height{
  min-height: 55px;
}

.row-width{
  width: 101%;
}

</style>
