<template>
    <v-card class="card rounded-card" outlined width="750px" min-height="100px">
        <v-row>
            <v-col>
                <v-card-title class="justify-center">
                    Partido creador por: {{ partido.creador }}
                </v-card-title>
                <v-card-subtitle>
                    Hora de inicio: {{ DateAsString(partido.hora_ini) }}
                    <div>Hora de fin: {{ DateAsString(partido.hora_fin) }}</div>
                    <div>Pista: {{ pista.nombre }}</div>
                    <div> Jugadores:
                        <div v-for="jugador in partido.jugadores" :key="jugador">
                            <p>{{ jugador }}</p>
                        </div>
                    </div>
                </v-card-subtitle>
                <v-card-actions class="justify-center">
                    <v-btn color="primary" :to="{ name: 'PartidoUpdate', params: { id: this.partido.id } }">
                        Editar
                    </v-btn>
                    <v-btn class="btn" color="red" @click="remove()">
                        Eliminar
                    </v-btn>
                </v-card-actions>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import store from "@/common/store";
    import PistaRepository from "@/repositories/PistaRepository";
    import PartidoRepository from "../../repositories/PartidoRepository";
    import moment from "moment";

    export default {
        data() {
            return {
                user: store.state.user,
                pista: {},
            };
        },
        name: "PartidoCard",
        props: {
            partido: {
                type: Object,
                required: true,
            },
        },
        async mounted(){
            this.pista = await PistaRepository.findOne(this.partido.pista);
        },
        methods: {
            DateAsString(date) {
                return moment(date).format("hh:mm a, DD/MM/YYYY");
            },
            async remove() {
                await PartidoRepository.delete(this.partido.id);
                window.location.href = this.$route.fullPath;
            },
        },
    }
</script>

<style scoped>

    .btn{
        margin-right: 10px;
    }
    .rounded-card{
        border-radius: 25px;
    }

</style>