<template>
    <v-layout class="text-center" justify-center align-center>
        <v-form ref="form" @submit.prevent="save">
            <v-card class="card" min-width="100px" width="500px" align-center justify-center>
                <v-card-title>
                    <v-col>
                        <div v-if="partido.id">Editando un partido</div>
                        <div v-else>Creando un partido</div>
                        <v-text-field v-if="usuario.authority === 'PLAYER'" v-model="partido.creador" label="Creador" maxlength="20" readonly></v-text-field>
                        <div>
                            <label for="fechaInicio">Fecha de Inicio:</label>
                            <input type="datetime-local" label="fechaInicio" v-model="partido.hora_ini" required @input="validarFechas()">
                        </div>{{ DateAsString(this.partido.hora_ini) }}
                        <div>
                            <label for="fechaInicio">Fecha de Fin:</label>
                            <input type="datetime-local" label="fechaFin" v-model="partido.hora_fin" required @input="validarFechas()">
                        </div>{{ DateAsString(this.partido.hora_fin) }}
                        <v-select v-model="partido.pista" :items="pistasID" label="Pista" return-object></v-select>
                        <v-text-field v-model="query" label="Buscar jugador" class="d-inline-block" ></v-text-field>

                        <ul>
                            <!-- Muestra los usuarios filtrados -->
                            <li v-for="user in filteredUsers()" :key="user.id">
                                {{ user.login }}
                                <!-- Botón para agregar el usuario a la lista seleccionada -->
                                <button @click="anadirJugador(user)" v-if="(pista.tipoPista === 'PADEL_DOBLES' && partido.jugadores.length < 4) || (pista.tipoPista === 'PADEL_IND' && partido.jugadores.length < 2)">Agregar</button>
                            </li>
                        </ul>

                        <div>Jugadores:
                            <div v-for="jugador in partido.jugadores" :key="jugador">
                                <p class="lista">
                                    <v-icon> mdi-account </v-icon>{{ jugador }}
                                    <v-btn color="warning" @click="eliminarJugador(jugador)">Eliminar</v-btn>
                                </p>
                            </div>
                        </div>
                    </v-col>
                </v-card-title>
                <v-card-actions>
                    <v-spacer />
                    <v-btn @click="back()">Atras</v-btn>
                    <v-btn color="blue" type="submit">Confirmar</v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-layout>
</template>

<script>
    import store from "@/common/store";
    import PartidoRepository from "@/repositories/PartidoRepository";
    import UsuarioRepository from "@/repositories/UsuarioRepository"
    import PistaRepository from "@/repositories/PistaRepository"
    import moment from "moment";

    export default {
        data() {
            return {
                partido: {},
                usuario: store.state.user,
                requiredField: [(v) => !!v || "Field is required"],
                jugadores: [],
                buscar: false,
                pista: {},
                pistasID: [],
                query: "",
            };
        },
        async created() {
            if (this.$route.params.id) {
                this.partido = await PartidoRepository.findOne(this.$route.params.id);
            } else {
                this.partido = {};
            }
            this.jugadores = await UsuarioRepository.findAllPlayers();
            this.pista = await PistaRepository.findOne(this.partido.pista);
            this.pistas = await PistaRepository.findAllByClub(this.pista.club);
            let i;
            for (i = 0; i< this.pistas.length; i++){
                this.pistasID.push(this.pistas[i].id);
            }
        },
        methods: {
            validarFechas() {
            // Validar si la fecha de inicio es mayor que la fecha de fin
                if (this.fechaInicio && this.fechaFin) {
                    const fechaInicio = moment(this.partido.hora_ini);
                    const fechaFin = moment(this.partido.hora_fin);

                    if (fechaInicio.isAfter(fechaFin)) {
                        this.errorFechas = true;
                    } else {
                        this.errorFechas = false;
                    }
                }
            },
            async save() {
                if (!this.$refs.form.validate()) {
                    return;
                }
                if (this.errorFechas) {
                    this.$notify({
                        text: "La fecha de fin debe ser mayor que la de inicio",
                        type: "error",
                    });
                    return;
                }
                try {
                    await PartidoRepository.save(this.partido);
                    this.$router.replace({
                        name: "InicioWeb",
                    });
                } catch (err) {
                    this.$notify({
                        text: err.response.data.message,
                        type: "error",
                    });
                }
            },
            back() {
                this.$router.go(-1);
            },
            DateAsString(date) {
                return moment(date).format("DD/MM/YYYY HH:mm");
            },
            eliminarJugador(jug){
                let i;
                for (i = 0; i<this.partido.jugadores.length; i++){
                    if (this.partido.jugadores[i] === jug)
                        this.partido.jugadores.splice(i,1);
                }
            },
            anadirJugador(jug){
                this.partido.jugadores.push(jug.login);
            },
            filteredUsers() {
                // Filtra la lista de usuarios según el nombre de búsqueda
                const filteredUsers = this.jugadores.filter((user) =>
                    user.login.includes(this.query) && !this.partido.jugadores.includes(user.login)
                );

                return filteredUsers;
            },
        }
    }
</script>

<style scoped>

    .card{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .lista{
        margin-top: 10px;
    }
</style>