<template>
    <div class="sidebar">
        <SidebarAC/>
        <div class="content">
            <v-layout class="text-center" justify-center align-center>
                <v-form ref="form" @submit.prevent="save">
                    <v-card class="card" min-width="100px" width="500px" align-center justify-center>
                        <v-card-title>
                            <v-col>
                                <h3>Confirmar Reserva</h3>
                                
                                <div>Creador: {{usuario.login}}</div>
                                <div> Pista: {{ this.pista.nombre }}</div>
                                <div> Fecha: {{ this.dia }}</div>
                                <div> Hora Inicio: {{ this.hora_ini }}</div>
                                <div> Hora Fin: {{ this.hora_fin }}</div>
                            </v-col>
                        </v-card-title> 
                                
                        <v-card-actions>
                            <v-spacer />
                            <v-btn @click="back()">Atras</v-btn>
                            <v-btn color="blue" type="submit">Confirmar</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
            </v-layout>
        </div>
    </div>
    
</template>

<script>
    import store from "@/common/store";
    import moment from "moment";
    import PartidoRepository from "@/repositories/PartidoRepository";
    import UsuarioRepository from "@/repositories/UsuarioRepository"
    import PistaRepository from "@/repositories/PistaRepository"
    import SidebarAC from "../../components/SidebarAC.vue";

    export default {
    data() {
        return {
            partido: {},
            usuario: store.state.user,
            requiredField: [(v) => !!v || "Field is required"],
            jugadores: [],
            buscar: false,
            pista: {},
            dia: this.$route.query.dia,
            horas: [],
            hora_ini: "",
            hora_fin: "",
        };
    },
    components: { SidebarAC },
    async created() {
        this.partido = {};
        this.partido.creador = this.usuario.login;
        this.partido.pista = this.$route.query.pista;
        this.jugadores = await UsuarioRepository.findAllPlayers();
        this.pista = await PistaRepository.findOne(this.$route.query.pista);
        this.horas = this.$route.query.horas.split("-");
        this.hora_ini = this.horas[0];
        this.hora_fin = moment(this.horas[this.horas.length - 1], 'HH:mm').add(30, 'minutes').format('HH:mm');
        this.partido.hora_ini = this.dia.concat("T", this.hora_ini);
        this.partido.hora_fin = this.dia.concat("T", this.hora_fin);
    },
    methods: {
        async save() {
            if (!this.$refs.form.validate()) {
                return;
            }
            try {
                await PartidoRepository.save(this.partido);
                this.$router.replace({
                    name: "InicioWeb",
                });
            }
            catch (err) {
                this.$notify({
                    text: "La pista ya esta reservada a esta hora",
                    type: "error",
                });
            }
        },
        back() {
            this.$router.go(-1);
        },
    },
}

</script>

<style scoped>
    .sidebar{
        display: grid;
        grid-template-columns: 1fr 5fr;
        background-color: rgb(101, 150, 206);
        height: auto;
        min-height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        overflow-y: auto;
    }
    .content{
        position: absolute;
        background-color: white;
        border-radius: 20px;
        margin: 0 6px 6px 16.85%;
        width: 90%;
        height: 100%;
    }
    .card{
        margin-top: 45px;
        margin-bottom: 25px;
        margin-right: 150px;
    }
    .lista{
        margin-top: 10px;
    }
</style>