<template>
  <div class="sidebar" v-if="user.authority === 'ADMIN_WEB'">
    <Sidebar/>
    <div class="content">
      <v-row height="auto">
        <v-col cols="12" class="text-center">
          <h1>Lista de usuarios</h1>
          <div class="caption">Data fetched <span class="font-weight-bold">after</span> navigation</div>
          <div class="float-right barra">
            <v-text-field v-model="query" label="Buscar usuario" class="d-inline-block" ></v-text-field>
            <v-btn class="btn" @click="back()">Back</v-btn>
          </div>
        </v-col>
        <div v-if="filteredListWeb.length>0">
          <h2 class="h2">Administradores web: </h2>
        </div>
        <v-col cols="12" v-for="user in filteredListWeb" :key="user.id">
          <UsuarioCard :user="user" class="margen"></UsuarioCard>
        </v-col>
        <div v-if="filteredListClub.length>0">
          <h2 class="h2">Administradores club: </h2>
        </div>
        <v-col cols="12" v-for="user in filteredListClub" :key="user.id">
          <UsuarioCard :user="user" class="margen"></UsuarioCard>
        </v-col>
        <div v-if="filteredListPlayer.length>0">
          <h2 class="h2">Jugadores: </h2>
        </div>
        <v-col cols="12" v-for="user in filteredListPlayer" :key="user.id">
          <UsuarioCard :user="user" class="margen"></UsuarioCard>
        </v-col>
      </v-row>
    </div>
  </div>
  <div v-else>
    <v-col cols="12" class="text-center">
      <h1>Lista de usuarios</h1>
      <div class="caption">Data fetched <span class="font-weight-bold">after</span> navigation</div>
      <div class="float-right barra">
        <v-text-field v-model="query" label="Buscar usuario" class="d-inline-block" @input="updateData()"></v-text-field>
        <v-btn class="btn" @click="back()">Back</v-btn>
      </div>
    </v-col>
    <div v-if="filteredListPlayer.length>0">
          <h2 class="h2">Jugadores: </h2>
        </div>
    <v-col cols="12" v-for="user in filteredListPlayer" :key="user.id">
          <UsuarioCard :user="user" class="margen"></UsuarioCard>
        </v-col>
  </div>
</template>

<script>
import UsuarioCard from "./UsuarioCard.vue";
import UsuarioRepository from "@/repositories/UsuarioRepository";
import Sidebar from "@/components/Sidebar";
import store from "@/common/store"

export default {
  data() {
    return {
      user: store.state.user,
      users: [],
      posts: [],
      adminWebUsers: [],
      adminClubUsers: [],
      players: [],
      query: "",
    };
  },
  components: { UsuarioCard, Sidebar },
  async mounted() {
    this.users = await UsuarioRepository.findAll();
  },
  computed: {
    filteredListWeb() {
      return this.users.filter(u => {
            return u.authority==('ADMIN_WEB') && u.login.includes(this.query);})
    },
    filteredListClub() {
      return this.users.filter(u => {
            return u.authority==('ADMIN_CLUB') && u.login.includes(this.query) && u.login != "UserNoDisp";})
    },
    filteredListPlayer() {
      return this.users.filter(u => {
            return u.authority==('PLAYER') && u.login.includes(this.query);})
    },
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
  }
};
</script>

<style scoped>
.sidebar{
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: rgb(101, 150, 206);
    height: auto;
    min-height: 215vh;
    width: 100vw;
}

.content{
    position: absolute;
    background-color: white;
    border-radius: 20px;
    margin: 0 6px 6px 16.85%;
    width: 90%;
    height: auto;
    min-height: 850px;
}

.barra{
  margin-right: 100px;
}

.margen {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 45px;
}

.h2{
  margin-top: 25px;
  margin-left: 45px;
}

.btn{
  margin-right: 50%;
}
</style>
