<template>
    <v-card class="card">
      <v-row>
        <v-card-title>
          <span>{{ user.login }}</span>
        </v-card-title>
        <v-spacer/>
        <v-card-actions>
          <v-btn v-if="userLogged.login !== user.login" class="btn" color="primary" rounded @click="addAdmin()">Añadir</v-btn>
        </v-card-actions>
      </v-row>
    </v-card>
  </template>
  
  <script>
  import store from "@/common/store";
  import ClubRepository from "@/repositories/ClubRepository";
  
  export default {
    data() {
        return {
          userLogged: store.state.user,
          club: {},
        };
    },
    name: "UsuarioAdminCard",
    props: {
      user: {
        type: Object,
        required: true,
      },
      idClub: {
        type: Object,
        required: true,
      },
    },
    async mounted() {
        this.club = await ClubRepository.findOne(this.idClub);
    },
    methods: {
      async addAdmin() {
        this.club.adminClub = this.user.login;
        await ClubRepository.save(this.club);
        this.$router.replace({ name: "ClubList" });
      },
    },
  };
  </script>
  
  <style scoped>
  .card{
    max-width: 400px;
  }
  
  .btn{
    margin-right: 10px;
  }
  </style>