<template>
    <v-container class="text-center">
        <v-form ref="form" @submit.prevent="save">
            <v-card>
                <v-card-title>
                <v-col>
                  Creando nuevo Usuario
                  <v-text-field v-model="usuario.login" label="Name" :rules="requiredField"></v-text-field>
                </v-col>
              </v-card-title>

              <v-card-actions>
                <v-spacer />
                <v-btn @click="back()">Back</v-btn>
                <v-btn color="primary" type="submit">Submit</v-btn>
              </v-card-actions>
            </v-card>
        </v-form>
    </v-container>
</template>

<script>
    import UsuarioRepository from "@/repositories/UsuarioRepository";

    export default {
        data() {
            return {
            usuario: {},
            requiredField: [(v) => !!v || "Field is required"],
            };
        },
        async created() {
            if (this.$route.params.id) {
            this.usuario = await UsuarioRepository.findOne(this.$route.params.id);
            } else {
            this.usuario = {};
            }
        },
        methods: {
            async save() {
            if (!this.$refs.form.validate()) {
                return;
            }
            try {
                const savedUser = await UsuarioRepository.save(this.usuario);
                this.$router.replace({
                name: "UsuarioDetailPerfil",
                params: { id: savedUser.id },
                });
            } catch (err) {
                this.$notify({
                text: err.response.data.message,
                type: "error",
                });
            }
            },

            back() {
            this.$router.go(-1);
            },
        },
    }
</script>
