<template>
  <v-container>
    <v-row>
      <v-card class="d-flex flex-column align-center justify-center" style="margin: 15px auto;" width="500px">
        <v-card-title>
          Perfil de {{ usuario.login }}
        </v-card-title>

        <v-card-subtitle>
          Autoridad: {{ usuario.authority }}
        </v-card-subtitle>
        <h4 class="h4">
          Mi club:
        </h4>
        <ClubCard class="club" :club="club"></ClubCard>
        <v-card-actions>
          
          <v-btn @click="back()">Back</v-btn>
          <v-btn v-if="user" :to="{ name: 'UsuarioUpdateContraseña', params: {id: user.id} }">Editar Perfil</v-btn>
        </v-card-actions>
      </v-card>
        
    </v-row>
  </v-container>
</template>

<script>
import store from "@/common/store.js"
import UsuarioRepository from "@/repositories/UsuarioRepository";
import ClubRepository from "@/repositories/ClubRepository";
import ClubCard from "@/entities/club/ClubCard";

export default {
  data() {
    return {
      loading: false,
      usuario: store.state.user,
      user: null,
      club: {},
    };
  },
  components:{
    ClubCard,
  },
  async mounted() {
    this.loading = true;
    try { 
      this.user = await UsuarioRepository.findByLogin(this.usuario.login);
      this.club = await ClubRepository.findByAdmin(this.user.id);
    } catch (e) {
      this.$notify({
        text: e.response.data.message,
        type: "error",
      });
      setTimeout(() => this.back(), 2000);
    } finally {
      this.loading = false;
    }
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>

</style>
