<template>
    <v-container>
      <v-row>
        <v-col cols="12" class="text-center">
          <h1>Lista de Administradores de Club</h1>
          <div class="caption">Data fetched <span class="font-weight-bold">after</span> navigation</div>
          <div class="float-right">
            <v-text-field v-model="query" label="Buscar usuario" class="d-inline-block" @input="updateData()"></v-text-field>
          </div>
        </v-col>
        <div v-if="filteredListClub.length>0">
          <h2 class="h2">Administradores club: </h2>
        </div>
        <v-col cols="12" v-for="user in filteredListClub" :key="user.id">{{ user }}
            <UsuarioAdminCard :user="user" :idClub="idClub" class="margen">
            </UsuarioAdminCard>
        </v-col>
      </v-row>
    </v-container>
  </template>
  
  <script>
  import UsuarioAdminCard from "./UsuarioAdminCard.vue";
  import UsuarioRepository from "@/repositories/UsuarioRepository";
  import ClubRepository from "@/repositories/ClubRepository";
  
  export default {
    data() {
      return {
        users: [],
        posts: [],
        adminClubUsers: [],
        query: "",
        clubes: [],
        club: {},
        idClub: this.$route.params.id,
      };
    },
    components: { UsuarioAdminCard },
    async mounted() {
      this.users = await UsuarioRepository.findAll();
      this.club = await ClubRepository.findOne(this.$route.params.id);
      this.clubes = await ClubRepository.findAll();
    },
    computed: {
      filteredListClub() {
        return this.users.filter(admin => {
              return admin.authority==('ADMIN_CLUB') && admin.login.includes(this.query) && !this.clubes.some(club => club.adminClub === admin.login) ;})
      },
    },
  };
  </script>
  
  <style scoped>
  .margen {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  .h2{
    margin-top: 25px;
  }
  </style>
  