<template>
  <v-card class="card">
    <v-row>
      <v-card-title>
        <span>{{ user.login }}</span>
      </v-card-title>
      <v-spacer/>
      <v-card-actions>
        <v-btn v-if="user.authority == 'PLAYER' || user.authority == 'ADMIN_CLUB'" @click="upgrade()">Upgradear</v-btn>
        <v-btn v-if="userLogged.login !== user.login" class="btn" color="red" rounded @click="remove()">Eliminar</v-btn>
      </v-card-actions>
    </v-row>
  </v-card>
</template>

<script>
import store from "@/common/store";
import UsuarioRepository from "@/repositories/UsuarioRepository";
import ProductoRepository from "@/repositories/ProductoRepository";

export default {
  data() {
      return {
        userLogged: store.state.user,
      };
  },
  name: "UsuarioCard",
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  methods: {
    async getProds(){
      this.prods = await ProductoRepository.findAll();
      for (let i = 0; i < this.prods.lenght; i++) {
        if(this.prods[i].vendedor === this.user.login)
          this.prods[i].vendedor = null;
        else if (this.prods[i].comprador === this.user.login)
          this.prods[i].comprador = null;
        await ProductoRepository.save(this.prods[i]);
      }
    },
     async upgrade(){
      if (this.user.authority === 'PLAYER'){
        this.user.authority = 'ADMIN_CLUB';
      } else if (this.user.authority === 'ADMIN_CLUB'){
        this.user.authority = 'ADMIN_WEB';
      }
      await UsuarioRepository.save(this.user);
    },
    async remove() {
      await UsuarioRepository.delete(this.user.id);
      this.$router.replace({ name: "UsuarioList" });
      location.reload();
    },
  },
};
</script>

<style scoped>
.card{
  max-width: 400px;
}

.btn{
  margin-right: 10px;
}
</style>
