<template>
  <v-container>
    <v-row>
      <v-col cols="12" v-if="loading" class="loading">Loading...</v-col>
      <v-col cols="8" offset="2" >
        <v-card>
          <v-card-title>
            <span v-if="user">
              <strong> {{ user.login }}</strong> 
            </span>
            <v-spacer/>
            <router-link v-if="userPerfil.login != '' && user != null" :to="{name: 'MensajeList', params: {login: user.login}}" v-slot="{ navigate }" custom>
              <v-btn @click="navigate">
                Enviar Mensaje <v-icon color="black">mdi-chat</v-icon> 
              </v-btn>
            </router-link>
          </v-card-title>
          <v-card-subtitle>
            <span v-if="user && user.valoracionMedia>0"> 
              Valoracion Media: {{user.valoracionMedia}}
            </span>
            <span v-else> 
              Valoracion Media: Aun no hay valoraciones
            </span>
          </v-card-subtitle>
          <v-card-text>
            <strong>Lista de productos a la venta: </strong>
          </v-card-text>
          <v-col cols="12" sm="12" lg="12" v-for="prod in prods" :key="prod.id">
            <span v-if="prod.comprador === null">
              <ProductoCard :prod="prod"></ProductoCard>
            </span>
          </v-col>
          <v-card-actions>
            <v-spacer />
            <v-btn @click="back()"> Back </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import UsuarioRepository from "@/repositories/UsuarioRepository";
import ProductoCard from "@/entities/productos/ProductoCard.vue";
import store from "@/common/store";

export default {
  data() {
    return {
      userPerfil: store.state.user,
      loading: false,
      user: null,
      prods: [],
      valoracion: 0,
      cont: 0,
    };
  },
  components: {
    ProductoCard,
  },
  async mounted() {
    this.loading = true;
    try {
      this.user = await UsuarioRepository.findByLogin(this.$route.params.login);
      if(this.userPerfil === ""){
        this.userPerfil = await UsuarioRepository.findByLogin(this.userPerfil.login);
      }
      this.prods = await UsuarioRepository.findAllVentas(this.user.id);


      for(let i=0; i<this.prods.length; i++){
        if(this.prods[i].valoracion > 0){
          this.valoracion = this.valoracion + this.prods[i].valoracion;
          this.cont++;
        }
      }
      if(this.valoracion>0)
        this.user.valoracionMedia = this.valoracion/this.cont;

    } catch (e) {
      this.$notify({
        text: e.response.data.message,
        type: "error",
      });
      setTimeout(() => this.back(), 2000);
    } finally {
      this.loading = false;
    }
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
    valoracionMedia(){
      /*let cont = 0;
      let valoracion = 0.0;
      for(let i=0; i<this.prods.length; i++){
        if(this.prods[i].valoracion > 0){
          valoracion = valoracion + this.prods[i].valoracion;
          cont++;
        }
      }
        this.user.valoracionMedia = this.valoracion/cont;
      
      return this.user.valoracionMedia;*/
      return 100/1;
    }
    
  },
};
</script>

<style scoped>
.users {
  padding: 30px 50px;
  color: rgba(0, 0, 0, 0.87);
  font-size: larger;
}

.error {
  margin-top: 40px;
}
</style>
