<template>
  <div class="sidebar">
    <Sidebar/>
    <div class="content">
      <v-layout class="text-center" align-center justify-center>
          <v-form ref="form" @submit.prevent="save">
            <v-card class="card" width="500px" min-width="75px">
              <v-card-title>
                <v-col>
                  Creando nuevo Usuario
                  <v-text-field v-model="usuario.login" label="Name" :rules="requiredField"></v-text-field>
                  <v-text-field v-model="usuario.contrasena" label="Password" :rules="requiredField"></v-text-field>
                </v-col>
              </v-card-title>

              <v-col class="user-type-title">
                Tipo de Usuario
                <v-row justify="center">
                    <v-radio-group v-model="selectedRole" row>
                        <v-radio label="Admin Web" value="ADMIN_WEB"></v-radio>
                        <v-radio label="Admin Club" value="ADMIN_CLUB"></v-radio>
                        <v-radio label="Jugador" value="PLAYER"></v-radio>
                    </v-radio-group>
                </v-row>
              </v-col>

              <v-card-actions>
                <v-spacer />
                <v-btn @click="back()">Atras</v-btn>
                <v-btn color="primary" type="submit">Confirmar</v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
      </v-layout>
    </div>
  </div>
  
</template>

<script>
import UsuarioRepository from "@/repositories/UsuarioRepository";
import AccountRepository from "@/repositories/AccountRepository";
import Sidebar from "@/components/Sidebar";

export default {
  data() {
    return {
      usuario: {},
      selectedRole: '',
      requiredField: [(v) => !!v || "Field is required"],
    };
  },
  components: { Sidebar},
  async created() {
    if (this.$route.params.id) {
      this.usuario = await UsuarioRepository.findOne(this.$route.params.id);
    } else {
      this.usuario = {};
    }
  },

  methods: {
    async save() {
      if (!this.$refs.form.validate()) {
        return;
      }
      try {
        if (!this.selectedRole) {
          this.$notify({
              text: "Por favor, seleccione un tipo de usuario.",
              type: "warning"
          });
          return;
        }
        switch (this.selectedRole) {
            case "ADMIN_WEB":
                await AccountRepository.registerAccountWeb(this.usuario);
                break;
            case "ADMIN_CLUB":
                await AccountRepository.registerAccountClub(this.usuario);
                break;
            case "PLAYER":
                await AccountRepository.registerAccount(this.usuario);
                break;
            default:
                throw new Error("Tipo de usuario no seleccionado");
        }
        this.$router.replace({
          name: "InicioWeb",
        });
      } catch (err) {
        this.$notify({
          text: err.response.data.message,
          type: "error",
        });
      }
    },

    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
  .sidebar{
      display: grid;
      grid-template-columns: 1fr 5fr;
      background-color: rgb(101, 150, 206);
      height: auto;
      min-height: 100vh;
      width: 100vw;
  }

  .content{
      position: absolute;
      background-color: white;
      border-radius: 20px;
      margin: 0 6px 6px 16.85%;
      width: 90%;
      height: 100%;
  }

  .card{
    margin-top: 25px; 
    margin-left: -27%;
  }

  .row{
    padding-top: 20px;
  }

  .user-type-title {
    font-size: 20px;
    font-weight: bold;
  }

</style>