<template>
  <v-container class="text-center">
    <v-form ref="form" @submit.prevent="save">
      <v-card>
        <v-card-title>
            <v-text-field v-model="usuario.login" label="Nombre" :rules="requiredField"></v-text-field>
            <v-text-field v-model="usuario.password" label="Contraseña" :rules="requiredField"></v-text-field>
            <v-text-field v-model="pass2" label="Repita Contraseña" :rules="requiredField"></v-text-field>
        </v-card-title>

        <v-card-actions>
          <v-spacer />
            <span v-if="usuario.password === pass2">
                <v-btn color="primary" type="submit">Sign in</v-btn>
            </span>
          <v-btn @click="back()">Back</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-container>
</template>

<script>
import UsuarioRepository from "@/repositories/UsuarioRepository";

export default {
  data() {
    return {
      usuario: {},
      requiredField: [(v) => !!v || "Field is required"],
      pass2: "",
    };
  },

  async created() {
    if (this.$route.params.id) {
      this.usuario = await UsuarioRepository.findOne(this.$route.params.id);
    } else {
      this.usuario = {};
    }
  },

  methods: {
    async save() {
      if (!this.$refs.form.validate()) {
        return;
      }
      try {
        const savedUser = await UsuarioRepository.save(this.usuario);
        this.$router.replace({
          name: "UsuarioDetail",
          params: { id: savedUser.id },
        });
      } catch (err) {
        this.$notify({
          text: err.response.data.message,
          type: "error",
        });
      }
    },

    back() {
      this.$router.go(-1);
    },
  },
};
</script>
